[submodule "37signals"]
	path = 37signals
	url = git://github.com/37signals/api.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "iso8601Formatter"]
	path = iso8601Formatter
	url = git://github.com/boredzo/iso-8601-date-formatter.git
